.important {
  font-weight: bold;
  color: blue;
  font-style: italic;
  font-family: monospace;
}

.underline {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  color: yellow;
}
 img {
   width: 380px;
   height: 300px;
 }

.about {
  font-size: 20px;
}
body  {
  padding: 4px;
  background-color: #008b8b;
}
.list {
  color: yellow;
}

.my-class {
  margin: 20px;
  padding: 30px;
  /* background-color: orange; */
}
a {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 110%;
  color: orange;
}

.row {
  display: flex;
}

.column {
  flex: 50.33%;
  padding: 2px;
}

.sidebar  {
  width: 30%
  float:right;
  background-color: orange;
}
@media screen and (max-width: 500px)  {
  .column {
    width: 100%;
  }
}
